@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello.App</h1>
    <p class="lead">Welcome to the Hello.App. Click the button below or the navigation link to begin.</p>
    <p>@Html.ActionLink("Hello.App", "Hello", "Home")</p>
</div>

